{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block head %}

{{ super() }}
{% endblock %}


{% block content %}
    <div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% block page_content %}

        <h1>文件上传</h1>
      <form action="" enctype='multipart/form-data' method='POST'>
         <input type="file" name="file">
         <input type="submit" value="上传">
    </form>
    <h1>文件下载</h1>
    <ul>
        {% for comment in comments %}
            <li><a href="/download/{{ comment }}">{{ comment }}</a></li>
        {% endfor %}
    </ul>



        {% endblock %}
    </div>
{% endblock %}



